* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  background: #1E252B;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tool {
  width: 392px;
  padding: 2px;
  border-radius: 15px;
  overflow: hidden;
  color: #fff;
  position: relative;
}
.tool-wrap {
  padding: 33px;
  background: rgba(0, 0, 0, 0.06);
  border-radius: 15px;
}
.tool::after {
  content: "";
  display: block;
  height: 65px;
  width: 65px;
  border-radius: 50%;
  background: rgba(255, 110, 48, 0.6);
  filter: blur(25px);
  position: absolute;
  top: -6px;
  right: 16px;
  z-index: -2;
}
.tool::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  background: linear-gradient(55deg, rgba(40, 48, 54, 0.4) 0%, rgba(0, 0, 0, 0) 60%, rgba(40, 48, 54, 0.4) 100%);
}
.tool-head {
  display: flex;
  align-items: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.tool-head img {
  width: 64px;
  height: auto;
}
.tool-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tool-footer-buttons {
  display: flex;
  align-items: center;
  -moz-column-gap: 12px;
       column-gap: 12px;
}
.tool-footer-buttons button {
  background: transparent;
  border: none;
  padding: 7px;
}
.tool-footer-buttons button:hover svg path {
  fill: #FD3B41;
  fill-opacity: 1;
}